@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    box-sizing: border-box;
}

body {
    background: #ffa95e;
    font-family: 'Poppins', sans-serif;
}

form {
    background: coral;
}

.message {
    width: 700px;
    height: 120px;
}

.button {
    border: none;
    border-radius: 9px;
    background-color: crimson;
    color: white;
    padding: 25px 25px;
    font-size: 17px;
}

.button:hover {
    background-color: black;
    color: white;
    transition: all 0.9s ease;
}
